#top {
background-color: rgb(255, 72, 0);
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 0 20px 40px 20px;
}

#izq{
    width: 70%;
    float: left;
    display: block;
    margin: 0 auto;

}

#der{
    width: 25%;
    float: right;
    display: block;
}
#arrow{
    position:relative; top: 20px;
}

#whitebox{
    background-color:rgb(255, 255, 255);
    padding: 0 70px 30px 70px;
    margin: 10px;
    position: relative; top: 5px;
    
}
#toptext{
    
    text-decoration: underline;
    position: relative;top: 20px;left: 500px;

}
#Menu{
   position: relative;left: 1100px;top: 20px;
}

img{
    width: 1100px;
    height: 200px;
    border-right: 2px solid black;
}
#name{
    font-size:xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color:rgb(99, 100, 139);
    margin-bottom: 10px;
}
#calificacion{
    color:rgb(255, 72, 0);
    font-size: large;
    margin-bottom: 5px;
}
#info,#info2{
    position:relative;left:850px;bottom: 50px;
    font-size: large;

}
#info{
    color:rgb(56, 56, 212);
    margin: 10px;
}
#info3{
    margin-bottom: 20px;
}
.barra{
margin-left: 18px;
position: relative;left: 20px;
}

#arrow2{
    position: relative;left: 39px;
}

#selected{
    background-color: rgb(255, 72, 0);
    color: white;
}








