#profile{
    width: 45%;
    float: left;
    display: block;
    margin: 0 auto;

}

#information{
    width: 45%;
    float: right;
    display: block;
}


img {
    width: 200px;
    height: 200px;
}

#information{
    font-size:larger;
}

#name{
    font-size: 1cm;
}

